@import "../variables.scss";

.about-section {
  padding-bottom: 64px;
  @media screen and (min-width: $tablet) {
    padding-bottom: 80px;
  }
  @media screen and (min-width: $desktop) {
    padding-bottom: 130px;
  }
}

// about page title
.about__title {
  font-size: 28px;
  min-width: 220px;
  margin-bottom: 28px;
  font-weight: 600;

  @media screen and (min-width: $tablet) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 32px;
    margin-bottom: 56px;
  }
  @media screen and (min-width: 1601px) {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}

.about__big-title {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 64px;
  @media screen and (max-width: 1800px) {
    font-size: 32px;
    margin-bottom: 56px;
  }
  @media screen and (max-width: 1600px) {
    display: none;
  }
}

//first text part
.about__description {
  font-size: 18px;
  line-height: 1.366;
  font-weight: 400;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.377;
    font-weight: 400;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: $full) {
    font-size: 20px;
  }
  @media screen and (min-width: 1800px) {
    font-size: 26px;
  }
}

.description__command {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.about__img {
  margin-top: 44px;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px;
    position: relative;
    padding-bottom: 77.78%;
    height: 0;
    overflow: hidden;
    grid-row-end: span 3;
  }
}

.about-image__wrap {
  width: 100%;
  @media screen and (min-width: 1200px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.about-image__wrap img {
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}

.first-part_descr {
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: minmax(120px, auto);
    column-gap: 50px;
  }
  @media screen and (min-width: $full) {
    grid-template-columns: 1fr 1.2fr;
    column-gap: 140px;
    grid-template-rows: auto auto 100px;
  }
  @media screen and (min-width: 1460px) {
    grid-template-rows: auto auto 200px;
  }
  @media screen and (min-width: 1800px) {
    grid-template-rows: auto auto 100px;
  }
}

.first-descr_wrap {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}

//second text part
.work__img {
  position: relative;
  height: 0;
  padding-bottom: 77.84%;
  overflow: hidden;
  margin: 40px 0;

  @media screen and (min-width: 768px) {
    padding-bottom: 132%;
    margin: 0;
  }
  @media screen and (min-width: 900px) {
    padding-bottom: 100%;
  }
  @media screen and (min-width: 1100px) {
    padding-bottom: 90%;
  }
  @media screen and (min-width: 1250px) {
    padding-bottom: 90%;
  }
}

.work-image__wrap {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 768px) {
    min-height: 370px;
  }

  @media screen and (min-width: $desktop) {
    max-width: fit-content;
  }
}

.work__img img.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.description__other {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.description__animals {
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.description__morehelp {
  margin-bottom: 34px;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: 1100px) {
    display: block;
    margin-bottom: 0;
  }
}

.second-part_descr {
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  @media screen and (min-width: 1200px) {
    column-gap: 50px;
  }
  @media screen and (min-width: $full) {
    grid-template-columns: 1fr 1.2fr;
    margin-top: 0;
    column-gap: 140px;
  }
}

.second-descr_wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// contacts part
.about__contact {
  @media screen and (min-width: 1200px) {
    margin-top: 24px;
  }
}

.email {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  @media screen and (min-width: 1500px) {
    margin-top: 40px;
  }
  @media screen and (min-width: 1800px) {
    font-size: 24px;
  }
}

.phone {
  display: flex;
  justify-content: flex-start;
  font-size: calc(15px + (3 + 3 * 0.7) * ((100vw - 320px) / 768));
  margin-top: 26px;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    margin-top: 20px;
  }
  @media screen and (min-width: 1800px) {
    font-size: 24px;
  }
}

.email__img,
.phone__img {
  margin-right: 12px;
  width: 25px;

  @media screen and (min-width: $tablet) {
    width: 32px;
  }
}

// support button
.support__btn {
  padding: 26px 56px;
  font-size: 24px;
  min-width: 400px;
  @media screen and (max-width: $full) {
    padding: 16px 32px;
    min-width: 322px;
  }
  @media screen and (max-width: $full) {
    font-size: 20px;
  }
  @media screen and (max-width: $tablet) {
    min-width: 311px;
    margin: 0 auto;
  }
  @media screen and (max-width: 370px) {
    min-width: fit-content;
  }
  &:hover,
  &:focus {
    color: $main-blue;
    background-color: $white;
  }
}
