@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto");
@import "../variables.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


 a.return__text{
  text-decoration: none;
  font-size: 16px;
  color: $grey;
  margin-top: 16px;
}

.container{
  width: 100%;
  margin: 0 auto;
}
.about__title{
  font-size: 28px;
  min-width: 220px;
  margin: 14px 0px 24px 0px;
  font-weight: 600;

  @media screen  and (min-width: $tablet) {
    margin: 24px 0px 24px 0px;
  }
}

.about__description{
  margin: 16px 0px 0px 0px;
  font-size: 18px;
  line-height: 1.366;
  font-weight: 500;

  @media screen  and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.366;
    font-weight: 500;
  }
}

.command__img{
  height: 267px;
  margin-top: 40px;
  margin-bottom: 42px;
  background-size: cover;
	background-position: center;
	background-image: url(../../images/command-mobile.jpg);

  @media screen and (min-width: $tablet) {
    background-image: url(../../images/command-tablet.jpg);
    height: 534px;
    margin-top: 32px;
    margin-bottom: 24px;
    background-size: cover;
    background-position: center;
  }

}

.work__img{
  height: 267px;
  margin-top: 40px;
  margin-bottom: 36px;
  background-size: cover;
	background-position: center;

	background-image: url(../../images/work-mobile.jpg);

  @media screen  and (min-width: $tablet) {
    background-image: url(../../images/work-tablet.jpg);
    margin-bottom: 1px;
    background-size: cover;
    background-position: center;
  }

}

.about__contact{
  margin-top: 32px;
 
}

.email{
  display: flex;
  justify-content: flex-start;
  font-size: 18px;

}

.phone{
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  margin-top: 16px;
}

.email__img{
  margin-right: 12px;
}

.phone__img{
  margin-right: 12px;
}

.support__btn{
 font-size: 20px;
 cursor: pointer;
 margin-top: 28px;
 margin-left: 16px;
}

