@import "../variables.scss";

.help__section {
  margin-bottom: 64px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 80px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 126px;
  }
}

.help__title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  @media screen and (min-width: $desktop) {
    font-size: 32px;
  }
}

.posts-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  @media screen and (min-width: $tablet) {
    margin-top: 32px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 40px;
  }
}

.nav-links {
  color: $black;
  text-align: center;
}

.nav-links .current {
  font-weight: 600;
}

.page-numbers {
  cursor: pointer;
  transition: color $transition-function;
  &:hover,
  &:focus {
    color: $grey;
  }
}

.page-numbers:not(:last-child) {
  margin-right: 15px;
}
