@import "../variables.scss";

.help__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;

  @media screen and (max-width: $full) {
    font-size: 32px;
  }
  @media screen and (max-width: $tablet) {
    font-size: 28px;
    line-height: 1.4;
  }
}

.posts-list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  @media screen and (max-width: $desktop) {
    margin-top: 32px;
  }
  @media screen and (max-width: $tablet) {
    margin-top: 24px;
  }
}

.nav-links {
  font-size: 26px;
  color: $black;
  text-align: center;
  @media screen and (max-width: $full) {
    font-size: 18px;
  }
}

.nav-links .current {
  font-weight: 600;
}

.page-numbers {
  cursor: pointer;
  transition: color $transition-function;
  &:hover,
  &:focus {
    color: $grey;
  }
}

.page-numbers:not(:last-child) {
  margin-right: 15px;
}
