@import "../variables.scss";

//containers
.helpform__section {
  background-color: $bg-footer;
  padding: 24px 16px 16px;
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    padding: 0;
    background-color: $white;
    margin-bottom: 0;
  }
}

.helpform__section .container {
  @media screen and (max-width: 767.98px) {
    padding: 0;
  }
}

.internal__wrap {
  @media screen and (min-width: $tablet) {
    padding: 40px 104px 16px;
    background-color: $bg-footer;
    border-radius: 16px;
    margin-bottom: 72px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 56px;
    padding-bottom: 32px;
  }
  @media screen and (min-width: $desktop) {
    border-radius: 0;
    padding-right: 220px;
    padding-left: 220px;
    margin-bottom: 100px;
  }
}

//form title
.helpform__title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 32px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 28px;
    line-height: 1;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 56px;
    font-size: 32px;
    text-align: left;
  }
}

//helpform grid
.helpform .form__wrapper {
  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
  }
}

.contact-needs {
  grid-column-end: span 2;
}

//form fields
.input__wrap {
  margin-bottom: 24px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.contact__label {
  display: inline-block;
  color: $grey;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 12px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 12px;
  }
}

input.contact__input,
textarea.contact__input {
  padding: 16px 18px;
  width: 100%;
  color: $grey;
  font-size: 14px;
  line-height: 1;
  border: 1px solid #d6d6d6;
  border-radius: $btn-border-radius;
  background-color: $white;
}

textarea.contact__input {
  resize: none;
}

input.contact__input::placeholder,
textarea.contact__input::placeholder {
  color: $grey;
  font-size: 14px;
  line-height: 1;
}

// check button
.check__wrap {
  color: $grey;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  margin-top: 16px;
  @media screen and (min-width: $tablet) {
    margin: 18px 0 33px;
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    margin: 20px 0 40px;
    font-size: 16px;
  }
}
.check__wrap label {
  display: flex;
  align-items: center;
}

.check__wrap span {
  margin: 0;
}

.contactAccept {
  appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #c8c7c7;
  border-radius: 3px;
  margin-right: 5px;
  transition: 250ms $transition-function;
  @media screen and (min-width: $tablet) {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border-width: 2px;
  }
  @media screen and (min-width: 1200px) {
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
  &:checked {
    background-image: url(../../../assets/images/check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.contactAccept:checked + span {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

//form button
.helpform-btn__wrap {
  margin-top: 32px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.helpform-btn__wrap .helpform__button {
  cursor: pointer;
  display: flex;
  width: 100%;
  padding: 14px 32px;
  justify-content: center;
  align-items: center;
  border-radius: $btn-border-radius;
  background: $main-blue;
  color: $white;
  font-size: 20px;
  font-weight: 500;
  transition: $transition-function;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.wpcf7 .wpcf7-submit:disabled {
  background: $grey;
  &:hover,
  &:focus {
    border-color: $grey;
    transform: none;
    box-shadow: none;
  }
}

.required {
  font-size: 16px;
  font-weight: 500;
  color: #dc3232;
}

//notification
.notification {
  position: fixed;
  top: 20px;
  right: -1000px;
  z-index: 10;
  padding: 46px 36px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 2px solid $main-blue;
  background: $white;
  box-shadow: 0px 12px 12px 0px rgba(82, 113, 255, 0.04);
  opacity: 0;
  transition: $transition-function;
  @media screen and (min-width: $tablet) {
    padding: 56px 83px;
    border-radius: 24px;
  }
  @media screen and (min-width: 1200px) {
    padding: 67px 133px;
    border-radius: 30px;
  }
}

.notification.active {
  right: 20px;
  opacity: 1;
  transform: scale(1);
}

.notification__image {
  width: 67px;
  margin-right: 10px;
  @media screen and (min-width: $tablet) {
    width: 89px;
    margin-right: 18px;
  }
  @media screen and (min-width: 1200px) {
    width: 123px;
    margin-right: 24px;
  }
}

.notification__btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  fill: $black;
  transition: fill $transition-function;
  top: 12px;
  right: 12px;
  @media screen and (min-width: $tablet) {
    top: 18px;
    right: 18px;
  }
  @media screen and (min-width: 1200px) {
    top: 22px;
    right: 22px;
  }
  &:hover,
  &:focus {
    fill: $main-blue;
  }
}

.notification__btn .menu-icon {
  width: 22px;
  height: 22px;
  top: 12px;
  right: 12px;
  @media screen and (min-width: $tablet) {
    width: 24px;
    height: 24px;
    top: 18px;
    right: 18px;
  }
  @media screen and (min-width: 1200px) {
    width: 36px;
    border-radius: 36px;
    top: 22px;
    right: 22px;
  }
}

.notification__text {
  font-size: 18px;
  font-weight: 500;
  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output {
  display: none;
}

//phone-field validation
.phone-notification,
.submit-notification {
  display: none;
  transition: $transition-function;
}

.phone-notification.active,
.submit-notification.active {
  display: block;
  color: #dc3232;
  font-size: 16px;
}
