.footer-bg {
  background-color: $bg-footer;
  border-top: 2px solid $main-blue;
}

.inner-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 64px 0;
  @media screen and (max-width: $full) {
    padding: 33px 0 70px;
  }
  @media screen and (max-width: $desktop) {
    padding-bottom: 60px;
  }
  @media screen and (max-width: 767.98px) {
    padding-bottom: 40px;
    flex-direction: column;
  }
}

.main__information {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer img.footer__logo {
  width: 329px;
  height: 76px;
  @media screen and (max-width: 1680px) {
    width: 200px;
    height: 48px;
  }
  @media screen and (max-width: $desktop) {
    width: 122px;
    height: 28px;
  }
  @media screen and (max-width: 767.98px) {
    width: 200px;
    height: 46px;
  }
}

.working__hours {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.7;
  margin-top: 49px;
  font-size: 22px;
  @media screen and (max-width: $full) {
    font-size: 16px;
    margin-top: 40px;
  }
  @media screen and (max-width: $desktop) {
    margin-top: 32px;
  }
}

.footer-navigation {
  @media screen and (max-width: 767.98px) {
    margin: 40px 0;
  }
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__menu .menu-item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (max-width: $full) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: 1199.98px) {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767.98px) {
    margin-bottom: 16px;
  }
}

.footer__menu .menu-item a {
  font-size: 24px;
  @media screen and (max-width: $full) {
    font-size: 18px;
  }
  @media screen and (max-width: $desktop) {
    font-size: 16px;
  }
}

.footer__contacts {
  display: flex;
  @media screen and (max-width: 1199.98px) {
    flex-direction: column;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__text {
  font-size: 24px;
  margin-bottom: 32px;
  @media screen and (max-width: $full) {
    font-size: 18px;
  }
  @media screen and (max-width: $desktop) {
    margin-bottom: 20px;
    font-size: 16px;
  }
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.footer__img {
  margin-right: 11px;
  width: 24px;
  height: 24px;
  @media screen and (max-width: $desktop) {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
}

.contacts__flex {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 24px;
    @media screen and (max-width: $full) {
      margin-bottom: 16px;
    }
    @media screen and (max-width: $desktop) {
      margin-bottom: 20px;
    }
  }
}

.contacts__flex a {
  font-size: 22px;
  @media screen and (max-width: $full) {
    font-size: 16px;
  }
}

.mob__social {
  display: flex;
  margin-left: 150px;
  margin-top: 150px;
  @media screen and (max-width: 1680px) {
    margin-left: 70px;
  }
  @media screen and (max-width: $full) {
    margin-top: 130px;
  }
  @media screen and (max-width: 1199.98px) {
    margin-top: 32px;
    margin-left: 0;
  }
}

.social__item .icon-socials {
  @media screen and (max-width: $full) {
    width: 32px;
    height: 32px;
  }
  @media screen and (max-width: 767.98px) {
    width: 40px;
    height: 40px;
  }
}
.social__item:not(:last-child) {
  margin-right: 14px;
  @media screen and (max-width: $full) {
    margin-right: 24px;
  }
  @media screen and (max-width: $desktop) {
    margin-right: 36px;
  }
  @media screen and (max-width: 767.98px) {
    margin-right: 24px;
  }
}
