@import "variables.scss";


.footer {
    display: flex;
    flex-direction: column;
    background-color: $bg-footer;
    border-top: 2px solid $main-blue;

    @media screen and (min-width: $tablet){
        margin-top: 81px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    @media screen and (min-width: $desktop){
        margin-top: 132px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    @media screen and (min-width: $full){
        display: flex;
        margin-top: 64px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.main__information {
    display: flex;
    flex-direction: column;
    margin-top: 31px;
    padding-left: 18px;

    @media screen and (min-width: $tablet){
        margin-top: 29px;
        padding-left: 11px;
        margin-right: 44px;
        margin-left: -41px;
    }
    @media screen and (min-width: $desktop){
        margin-top: 35px;
        padding-left: 107px;
        margin-right: 254px;
    }

    @media screen and (min-width: $full){
        margin-top: 63px;
        padding-left: 108px;
        margin-right: 276px;
    }
}

footer a.custom-logo-link{
    display: inline-block;

    @media screen and (min-width: $tablet){
      margin-left: 0px;
      margin-bottom: 3px;
      display: block;
    }

    @media screen and (min-width: $desktop){
        margin-left: 10px;
        margin-bottom: 3px;
        display: block;
    }

    @media screen and (min-width: $full){
       
    }
}

footer img.footer__logo{
    width: 200px;
    height: 48px;
    margin-left: -2px;

    @media screen and (min-width: $tablet){
        width: 122px;
        height: 28px;
        margin-left: 0px;
    }

    @media screen and (min-width: $desktop) {
        width: 200px;
        height: 48px;
    }

    @media screen and (min-width: $full){
        width: 329px;
        height: 78px;
    }
}

.working-hours{
    line-height: 1.7;
    margin-top: 22px;

    @media screen and (min-width: $desktop) {
        margin-top: 29px;
        margin-left: 9px;
    }

    @media screen and (min-width: $full){
        margin-top: 34px;
        margin-left: 9px;
        font-size: 22px;
    }
} 

.nav{
    margin-left: 17px;
    margin-top: 28px;

    @media screen and (min-width: $tablet){
        margin-left: -62px;
        margin-top: 22px;
    }
    @media screen and (min-width: $desktop){
        margin-top: 42px;
        margin-right: 184px;
    }

    @media screen and (min-width: $full){
        margin-top: 76px;
        margin-right: 240px;
    }
}

.footer__menu{
    margin-top: 1px;


    
}
.footer__menu li.footer__item:not(:first-child){
    margin-top: -30px;
    
    @media screen and (min-width: $desktop){
        margin-top: 10px;
    }

    @media screen and (min-width: $full){
        margin-top: 23px;
    }
}

li.footer__item:first-child{

    @media screen and (min-width: $desktop){
        margin-left: 48px;
    }
}

.footer li.footer__item:last-child{

    @media screen and (min-width: $desktop){
        display: block;
    }
}
.footer__menu li.footer__item a{
    font-size: 16px;

    @media screen and (min-width: $desktop){
        font-size: 18px;
    }

    @media screen and (min-width: $full){
        font-size: 24px;
    }
}

.footer__contacts{
    margin-left: 18px;
    margin-top: 41px;

    @media screen and (min-width: $tablet){
        margin-left: -17px;
        margin-top: 25px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        margin-top: 42px;
        align-items: flex-start;
    }

    @media screen and (min-width: $full){
        margin-top: 76px;
    }
}

.contacts__container{
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $desktop) {
       margin-right: 214px;
    }

    @media screen and (min-width: $full){
        font-size: 22px;
        margin-right: 158px;
    }

}


.contacts__text{
    display: none;
    
    @media screen and (min-width: $tablet){
        display: block;
        margin-bottom: 16px;
    }

    @media screen and (min-width: $desktop){
        display: block;
        margin-bottom: 30px;
        font-size: 18px;
    }

    @media screen and (min-width: $full){
        font-size: 24px;
        margin-bottom: 24px
    }
}

.footer__img{
    margin-right: 7px;
    width: 20px;
    height: 20px;

    @media screen and (min-width: $full){
        margin-right: 7px;
        width: 24px;
        height: 24px;
        margin-top: 2px;
    }
}

.contacts__flex{
    display: flex;
    margin-bottom: 18px;

    @media screen and (min-width: $tablet) {
        display: flex;
        margin-bottom: 18px;        
    }
}

.social{
    display: flex;
    margin-top: 15px;
}

footer a.mob-social__link {
    @media screen and (min-width: $tablet) {
       width: 20px;       
    }
}


.footer li.social__item{
    list-style-type: none;
    margin-top: 15px;

    @media screen and (min-width: $tablet) {
        margin-top: 15px;
        margin-left: 13px;
     }
   
     @media screen and (min-width: $desktop) {
        margin-top: 15px;
        margin-left: 7px;
        margin-right: 19px;
     }
}

.mob__social{
    display: none;

    @media screen and (max-width: 767px) {
        display: flex;
     }

    @media screen and (min-width: $tablet) {
        display: none;
     }

    @media screen and (min-width: $full){
        display: flex;
        margin-top: 119px;
     }

}

.tablet__social{
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex; 
        margin: 2px -9px 0px -120px;
        justify-content: center;   
    }
    @media screen and (min-width: $desktop){
        margin-top: 103px;
    }

    @media screen and (min-width: $full){
        display: none;
     }
}




