$black: #222222;
$white: #ffffff;
$main-blue: #1c74bc;
$yellow: #fdd929;
$grey: #898989;
$bg-footer: #eff5fa;

$mobile: 375px;
$tablet: 576px;
$desktop: 992px;
$full: 1440px;

$btn-border-radius: 8px;

$transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
