@import "../variables.scss";

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navigation-text {
  font-size: 24px;
  color: $grey;
  display: flex;
  align-items: center;
  gap: 12px;
  @media screen and (max-width: $full) {
    font-size: 16px;
  }
}

.navigation-icon {
  fill: $main-blue;
  transition: $transition-function;
}

.navigation-box:hover,
.navigation-box:focus {
  .navigation-icon {
    transform: scale(1.15);
  }
}
