@import "../variables.scss";

.navigation-wrapper {
  display: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.navigation-text {
  color: $grey;
  display: flex;
  align-items: center;
  gap: 12px;
}

.navigation-icon {
  fill: $main-blue;
  transition: $transition-function;
}

.navigation-box:hover,
.navigation-box:focus {
  .navigation-icon {
    transform: scale(1.1);
  }
}
