@import "../variables.scss";

.need-help {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
	margin-left: -16px;
	margin-right: -16px;
	margin-top: 65px;
	padding: 192px 16px;
	background-size: cover;
	background-position: center;

	@media screen and (min-width: $tablet) {
		margin: 80px 0;
		padding: 120px 16px;
	}

	@media screen and (min-width: $desktop) {
		margin-bottom: 130px;
		margin-top: 132px;
		padding: 262px 16px;
	}
}

.need-help__title {
	margin: 0;
	color: $white;
	font-size: 32px;
	font-weight: 600;
	line-height: 1;

	@media screen and (max-width: $mobile) {
		font-size: 29px;
	}

	@media screen and (min-width: $tablet) {
		font-size: 40px;
		line-height: 1.4;
	}

	@media screen and (min-width: $desktop) {
		font-size: 48px;
	}
}

.need-help__button {
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	color: $main-blue;
	background-color: $yellow;

	@media screen and (min-width: $mobile) {
		width: 311px;
	}

	@media screen and (min-width: $tablet) {
		width: 332px;
	}

	@media screen and (min-width: $desktop) {
		width: 296px;
	}

	&:hover,
	&:focus {
		color: $yellow;
		background-color: $main-blue;
	}
}
